.logo {
  display: block;
  text-decoration: none;

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }

  &:focus {
    outline: 2px solid @color-theme-dark;
    border-radius: 2px;
  }
}

.logo__name {
  padding: 13px 5px 7px;
}
