.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .padding-side;
  .padding-vertical (10px; 17.4px);
  position: relative;

  @media (min-width: @tablet-width) {
    .padding-vertical (24px; 20px);
    justify-content: flex-start;
    margin-bottom: 42px;
  }

}

.main-header--absolute {
  @media (min-width: @desktop-width) {
    .padding-vertical (53px; 20px);
    margin-bottom: 12px;
    position: absolute;
    width: @desktop-width;
    box-sizing: border-box;
  }
}

.main-header--secondary {
  border-bottom: 1px solid @color-border-basic;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.main-header__logo {
  text-decoration: none;
}

.main-header__toggle {
  border: none;
  background-color: @color-background-basic;

  @media (min-width: 768px) {
    display: none;
  }
}
