.extra-card {
  border-top: 1px solid @color-border-extra;
  padding: 13px 20px 19px;
}

.extra-card__title {
  margin-top: 0;
  margin-bottom: 13px;
}

.extra-card__table {
  margin-bottom: 15px;
}

.extra-card__link {
  .font-oswald-regular (16px; 16px; @color-content-basic);
  text-decoration: none;
  text-transform: uppercase;
}

.extra-card__button {
  padding: 10px;
}
