.extra-card {
  border-top: 1px solid #CDCDCD;
  padding: 13px 20px 19px;
}

.extra-card__title {
  margin-top: 0;
  margin-bottom: 13px;
}

.extra-card__table {
  margin-bottom: 15px;
}

.extra-card__link {
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.extra-card__button {
  padding: 10px;
}
