.product-card__link {
  .font-oswald-regular (16px; 20px; @color-content-card);
  text-transform: uppercase;
  text-decoration: none;
}

.product-card__image {
  object-fit: contain;
}

.product-card__button {
  padding: 10px;
  width: @mobile-width - 60px;
}
