.special-offer {
  background-image: url("../img/offer-background-mobile.jpg");
  background-repeat: no-repeat;
  height: 290px;
  
  @media (min-width: @tablet-width) {
    background-image: url("../img/offer-background-tablet.png");
    background-repeat: no-repeat;
    height: 200px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/offer-background-mobile.jpg");
    background-repeat: no-repeat;
    height: 290px;
  }
}

.special-offer__container {
  width: 100%;
  height: 100%;
  background-color: fade(@color-theme, 85%);
  .padding-side;
  .padding-vertical (65px; 43px);
  
  @media (min-width: @tablet-width) {
    padding: 70px 77px;
  }

  @media (min-width: @desktop-width) {
    .padding-vertical (56px; 42px);
    .padding-horizontal (41px; 43px);
  }
}

.special-offer__description {
  .font-arial-regular (16px; 20px; @color-content-contrast);
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding-right: 47px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
    min-height: 191px;
  }
}

.special-offer__description::before {
  content: url("../img/icon-gift.svg");
  width: 78px;
  height: 80px;
  background-repeat: no-repeat;
  margin-bottom: 48px;

  @media (min-width: @tablet-width) {
    margin: 0;
    width: 80px;
    height: 82px;
  }
}
