.contacts {
  position: relative;
}

.contacts__container {
  @media (min-width: @desktop-width) {
    .padding-side;
    padding-top: 92px;
    height: 400px;
  }
}

.contacts__wrapper {
  background-color: @color-background-basic;
  .padding-side;
  .padding-vertical (26px; 26px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding: 52px 70px 62px;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    width: 565px;
    box-sizing: border-box;
    .padding-vertical (54px; 60px);
    .padding-horizontal (80px; 80px);
    position: absolute;
    z-index: 2;
    top: 100px;
  }
}

.contacts__wrapper--secondary {
  background-color: @color-background-contrast;

  @media (min-width: @desktop-width) {
    background-color: @color-background-basic;
  }
}

.contacts__invitaion {
  .font-oswald-regular (16px; 20px; @color-content-contacts);
  text-transform: uppercase;
  margin: 0;
  width: 50%;

  @media (min-width: @tablet-width) {
    .font-oswald-regular (20px; 26px; @color-content-contacts);
    width: 163px;
    margin-top: 8px;
  }
}

.contacts__address {
  .font-arial-regular (14px; 20px; @color-content-secondary);
  width: 50%;

  @media (min-width: @tablet-width) {
    text-align: right;
    .font-arial-regular (16px; 20px; @color-content-secondary);
  }

  @media (min-width: @desktop-width) {
    text-align: left;
    width: 155px;
  }
}

.contacts__street {
  margin: 0;

  @media (min-width: @tablet-width) {
    margin-top: 3px;
  }
}

.contacts__city {
  margin: 0;

  @media (min-width: @tablet-width) {
    margin-top: 20px;
  }
}

.contacts__map {
  height: 362px;
  width: 100%;


  @media (min-width: @tablet-width) {
    height: 400px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
