.main-footer__logo {
  display: block;
  text-align: center;
  min-width: 128px;
  margin-bottom: 32px;
}

.main-footer__links {
  background-color: #F2F2F2;
  padding: 39px 20px 22px;
}

.main-footer__social {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
}

.main-footer__partner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
}

.main-footer__partner-link {
  text-decoration: none;
}
.main-footer__partner-name {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.4px;
  color: #444444;
  margin: 0;
}

.main-footer__partner-logo {
  fill: #666666;
}
