.advantages {
  margin: 0 20px 49px;
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages__icon {
  width: 60px;
  height: 60px;
  background-color: @color-theme;
  background-repeat: no-repeat;
  background-position: center;

  &--leaf {
    background-image: url("../img/advantages-leaf.svg");
  }

  &--tub {
    background-image: url("../img/advantages-tub.svg");
  }

  &--eat {
    background-image: url("../img/advantages-eat.svg");
  }

  &--alarm {
    background-image: url("../img/adavtages-alarm.svg");
  }
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 40px;
}

.advantages__description {
  .font-arial-regular (14px; 18px; @color-content-secondary);
}

.advantages__number {
  .font-oswald-regular (280px; 280px; @color-background-contrast);
  display: none;
}
