.banner {
  width: 100%;
  margin: 0 auto 20px;
}

.banner__background {
  background-image: url("../img/banner-background-mobile.jpg");
  background-repeat: no-repeat;
  width: @mobile-width;
  height: @banner-background-height;
  order: 1;

  @media (min-width: @tablet-width) {
    display: none;
  }
  @media (min-width: @desktop-width) {
    display: block;
  }
}

.banner__layer {
  width: 100%;
  height: 100%;
  background-color: fade(@color-theme, 85%);
}

.banner__wrapper {
  order: 2;
  margin-top: -1 * @banner-background-height;
  .padding-standard;
  .padding-vertical (27px; 0);

  @media (min-width: @tablet-width) {
    margin-top: 0;
    .padding-vertical (0; 0);
    position: relative;
  }
}

.banner__title {
  margin-top: 0;
  margin-bottom: 25px;
  text-align: center;

  @media (min-width: @tablet-width) {
    text-align: left;
    .padding-horizontal (87px; 207px);
    margin-bottom: 41px;
  }
}

.banner__description {
  .font-oswald-regular (14px; 14px; @color-content-contrast);
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    .font-oswald-regular (20px; 20px; @color-content-basic);
    text-align: left;
    padding-left: 87px;
    margin-bottom: 20px;
  }
}

.banner__image {
  display: block;
  background-color: transparent;
  margin-bottom: 3px;
  @media (min-width: @tablet-width) {
    margin: 0 auto;
  }
}

.banner__link {
  display: block;
  width: @mobile-width - 60px;

  @media (min-width: @tablet-width) {
    position: absolute;
    bottom: 100px;
    left: 91px;
    width: 224px;
  }
}
