.example {
  background-color: @color-background-example;
  padding: 25px 20px 40px;
}
.example__title {
  margin-top: 5px;
  margin-bottom: 40px;
}

.example__description {
  .font-arial-regular (14px; 18px; @color-content-secondary);
}

.example__statictics {
  width: 124px;
  height: 56px;
  border: 1px solid @color-border-extra;
  border-radius: 3px;
}

.example__parameter {
  .font-oswald-regular (24px; 24px; @color-content-basic);
  text-align: center;
  text-transform: uppercase;
}

.example__characteristic {
  .font-arial-regular (12px; 12px; @color-content-secondary);
}

.example__expences {
  .font-oswald-regular (14px; 20px; @color-content-basic);
  text-transform: uppercase;
}
