.product-line {
  background-color: @color-background-contrast;
  .padding-standard;
  .padding-vertical (30px; 19px);
  position: relative;

  @media (min-width: @tablet-width) {
    .padding-horizontal (52px; 28px);
    .padding-vertical (77px; 53px);
    display: grid;
    grid-template-columns: 340px 268px;
    grid-template-rows: auto auto auto;
    gap: 20px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    .padding-horizontal (52px; 51px);
    .padding-vertical (77px; 55px);
  }
}

.product-line__background {
  position: absolute;
  top: 24px;
  left: 22px;
  width: 50px;
  height: 50px;
  background-color: @color-theme;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    position: relative;
    grid-area: 1/2/-1/-1;
    top: 0;
    left: 0;
    align-self: top;
    justify-self: center;
    width: 200px;
    height: 200px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    width: 100px;
    height: 100px;
  }
}

.product-line__background-slim {
  @media (min-width: @tablet-width) {
    margin-top: 15px;
  }

  @media (min-width: @desktop-width) {
    top: 32px;
    left: 52px;
}
}

.product-line__background-pro {
  @media (min-width: @tablet-width) {
    margin-top: 13px;
    margin-left: 3.5px;
  }

  @media (min-width: @desktop-width) {
    top: 34px;
    left: 48px;
}
}

.product-line__icon {
  position: absolute;
}

.product-line__icon--slim {
  left: calc(7 / 50 * 100%);
  bottom: calc(3 / 50 * 100%);

  @media (min-width: @tablet-width) {
    width: 140.1px;
    height: 194px;
    left: calc(30 / 200 * 100%);
    bottom: calc(17 / 200 * 100%);
  }

  @media (min-width: @desktop-width) {
    width: 70px;
    height: 97px;
  }
}

.product-line__icon--pro {
  left: calc(-9.5 / 50 * 100%);
  bottom: calc(11 / 50 * 100%);

  @media (min-width: @tablet-width) {
    width: 268.1px;
    height: 112.3px;
    left: calc(-36.05 / 200 * 100%);
    bottom: calc(43.6 / 200 * 100%);
  }

  @media (min-width: @desktop-width) {
    width: 134px;
    height: 56.1px;
  }
}

.product-line__title {
  .font-oswald-regular (24px; 37px; @color-content-basic);
  .margin-vertical (0; 29px);
  .padding-horizontal (71.5px; 0);
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    grid-area: 1/1/2/2;
    .font-oswald-regular (36px; 36px; @color-content-basic);
    padding: 0;
    .margin-vertical (0; 6px);
  }

  @media (min-width: @desktop-width) {
    .padding-horizontal (162px; 0);
    .margin-vertical (0; 73px);
  }
}

.product-line__description {
  .font-arial-regular (14px; 18px; @color-content-secondary);
  .padding-vertical (0; 23px);
  margin: 0;
  border-bottom: 1px solid @color-border-basic;

  @media (min-width: @tablet-width) {
    grid-area: 2/1/3/2;
    .font-arial-regular (16px; 24px; @color-content-basic);
    border: none;
    .padding-vertical (0; 28px);
  }

  @media (min-width: @desktop-width) {
    .margin-vertical (0; 24px);
    padding: 0;
  }
}

.product-line__link {
  .font-oswald-regular (16px; 16px; @color-content-basic);
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  max-width: 168px;
  .padding-vertical(2.5px; 4px);
  margin-top: 15px;

  @media (min-width: @tablet-width) {
    grid-area: -2/1/-1/2;
    .font-oswald-regular (20px; 30px; @color-content-basic);
    margin-top: 0;
  }

  &:active {
    opacity: 30%;
  }

  &:active::after {
    opacity: 30%;
  }

  &:hover::after {
    content: "";
    width: 32px;
  }
}

.product-line__link::after {
  content: "";
  width: 24px;
  height: 12px;
  overflow-x: hidden;
  background-image: url("../img/product-line-arrow.svg");
  background-repeat: no-repeat;
  background-position: top right;
  margin-left: 16px;

  @media (min-width: @tablet-width) {
    margin-left: 25px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 28px;
  }
}
