.inner-footer {
  .padding-side;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    .padding-horizontal (71px; 67px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 60px;
    align-items: center;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    .padding-side;
    margin-bottom: 60px;
  }
}

.inner-footer__button {
  padding: 10px;
  width: 100%;
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    width: 282px;
    padding: 16px;
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
  }
}

.inner-footer__info {
  .font-arial-regular (14px; 16px; @color-content-basic);
  text-align: center;
  margin: 0;

  @media (min-width: @tablet-width) {
    .font-arial-regular (16px; 16px; @color-content-basic);
    text-align: left;
    margin-bottom: 22px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 10px;
  }
}
