.questionary__group {
  border: 0;
  margin-top: 22px;
  margin-bottom: 22px;
  padding-left: 20px;
  padding-right: 20px;
}

.questionary__group--bordered {
  border-bottom: 1px solid #D9D9D9;
 }

.questionary__legend {
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 35px;
}

.questionary__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.questionary__item {
  margin-bottom: 13px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.questionary__label {
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  padding-right: 13px;
}

.questionary__label--radio {
  color: #222222;
}

.questionary__label--checkbox {
  color: #000000;
}

.questionary__field {
  border: 1px solid #E7E7E7;
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  flex-grow: 1;
  min-width: 100px;
}

.questionary__textarea {
  border: 1px solid #E7E7E7;
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  width: 100%;
  min-height: 150.5px;
}
