.button {
  .font-oswald-regular (16px; 20px; @color-content-contrast);
  background-color: @color-theme;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  text-align: center;
  display: block;

  &:hover {
    background-color: @color-theme-dark;
  }

  &:active {
    color: fade(@color-content-contrast, 30%);
    background-color: @color-theme-dark;
  }

  &:focus {
    outline: 2px solid @color-content-basic;
    outline-offset: -2px;
  }
}

.button--banner {
  font-size: 14px;
  line-height: 18px;
  padding: 11px 10px;

  @media (min-width: @tablet-width) {
    .font-oswald-regular (20px; 20px; @color-content-contrast);
    .padding-vertical(17px; 17px);
  }
}

.button--more {
  background-color: @color-background-contrast;
  color: @color-content-secondary;
  padding: 10px;

  &:hover {
    background-color: @color-border-catalog;
  }

  &:active {
    color: fade(@color-content-secondary, 30%);
    background-color: @color-border-catalog;
  }
}
