.button {
  .font-oswald-regular (16px; 20px; @color-content-contrast);
  background-color: @color-theme;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  text-align: center;
  display: block;
}

.button--banner {
  font-size: 14px;
  line-height: 18px;
  padding: 7px 10px;
}

.button--more {
  background-color: @color-background-contrast;
  color: @color-content-secondary;
  padding: 10px;
}
