.title-decorated {
  background-color: @color-background-basic;
  display: inline-block;

  &::after {
    content: "";
    width: 100vw;
    height: 2px;
    background-color:  @color-theme;
    position: absolute;    
    z-index: -1;
    left: 0;
    transform: translateY(18px);

    @media (min-width: @tablet-width) {
      transform: translateY(22px);
    }
  }
}

.title-decorated--legend::after {
  transform: translateY(12px);
  transform-origin: 0 0;

  @media (min-width: @tablet-width) {
    transform: translateY(22px);
  }
}